<div class="row" style="padding-top: 16px">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-xs-12" *ngIf="websitesArray.length > 0">
    <div *ngFor="let website of websitesArray">
      <app-raport [website]="website"></app-raport>
    </div>
  </div>
  <div class="col-md-6 col-xs-12" *ngIf="websitesArray.length == 0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-text">
          Nie posiadasz żadnych raportów
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
